<script setup lang="ts">
import Cognotive from "@components/Cognotive.vue";
// import WindowTest from "@components/WindowTest.vue";
</script>

<template>
  <Cognotive />
  <!-- <WindowTest /> -->
</template>
