.k-window {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    &__controls {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      pointer-events: none;

      * {
        pointer-events: auto;
      }
    }
  }

  &--show-arrows-on-hover {
    overflow: hidden;

    & .k-window__left,
    & .k-window__right {
      transform: translate(-200%);
    }

    &:hover .k-window__left,
    &:hover .k-window__right {
      transform: translate(0);
    }
  }

  &-x-transition-enter-active,
  &-x-transition-leave-active,
  &-x-reverse-transition-enter-active,
  &-x-reverse-transition-leave-active,
  &-y-transition-enter-active,
  &-y-transition-leave-active,
  &-y-reverse-transition-enter-active,
  &-y-reverse-transition-leave-active {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &-x-transition-leave-from,
  &-x-transition-leave-to,
  &-x-reverse-transition-leave-from,
  &-x-reverse-transition-leave-to,
  &-y-transition-leave-from,
  &-y-transition-leave-to,
  &-y-reverse-transition-leave-from,
  &-y-reverse-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%;
  }

  &-x-transition-enter-from {
    transform: translate(100%);
  }

  &-x-transition-leave-to,
  &-x-reverse-transition-enter-from {
    transform: translate(-100%);
  }

  &-x-reverse-transition-leave-to {
    transform: translate(100%);
  }

  &-y-transition-enter-from {
    transform: translateY(100%);
  }

  &-y-transition-leave-to,
  &-y-reverse-transition-enter-from {
    transform: translateY(-100%);
  }

  &-y-reverse-transition-leave-to {
    transform: translateY(100%);
  }
}