<script setup lang="ts">
import { computed, ref } from "vue";
import Arrow from "@components/Icon/Arrow.vue";
import ArrowBack from "@components/Icon/ArrowBack.vue";
import Home from "@pages/Home.vue";
import About from "@pages/About.vue";
import Product from "@pages/Product.vue";
import Contact from "@pages/Contact.vue";
import DecoratedLine from "@components/Base/DecoratedLine.vue";
import Window from "@components/Window.vue";
import WindowItem from "@components/WindowItem";

enum RoutePath {
  Home = "/",
  About = "/about",
  Product = "/product",
  Contact = "/contact",
}

type RouteData = Record<
  RoutePath,
  {
    label: string;
    image: string;
  }
>;

const activeRoute = ref<RoutePath>(RoutePath.Home);
const data = <RouteData>{
  [RoutePath.Home]: {
    label: "Home",
    image: "/images/image1.png",
  },
  [RoutePath.About]: {
    label: "About Us",
    image: "/images/image2.png",
  },
  [RoutePath.Product]: {
    label: "Our Product",
    image: "/images/image3.png",
  },
  [RoutePath.Contact]: {
    label: "Contact Us",
    image: "/images/image4.png",
  },
};

const mainHover = ref(false);

const contentStyle = computed(() => ({
  transition: `top 500ms, right 500ms, bottom 500ms, height 500ms, transform 500ms`,
  ...(activeRoute.value === RoutePath.Home
    ? {
        width: "961px",
        height: "598px",
        top: "50%",
        right: "50%",
        bottom: "100%",
        transform: "translate(50%, -50%)",
      }
    : {
        width: "993px",
        height: "inherit",
        top: "0%",
        right: "0%",
        bottom: "0%",
        transform: "translate(0%, 0%)",
      }),
}));
</script>

<template>
  <div class="fixed inset-0 bg-black flex items-center">
    <div
      class="relative mx-auto w-full h-full max-w-[1440px] max-h-[1024px] flex items-center justify-center overflow-hidden"
      :style="{
        background: `url(/images/background.png)`,
      }">
      <!-- BACK -->
      <div
        :class="[
          'absolute left-0 top-0 bottom-0 w-[573px] h-[288px]',
          'transition-all duration-700 ease-out-expo',
          ...(activeRoute !== RoutePath.Home
            ? ['opacity-100 translate-x-0 delay-300']
            : ['opacity-0 -translate-x-full']),
        ]">
        <div
          :class="[
            'absolute inset-0',
            'bg-primary',
            ...(activeRoute !== RoutePath.Home
              ? ['opacity-100 translate-x-0 delay-700']
              : ['opacity-0 -translate-x-full']),

            'transition-all duration-700 ease-out-expo delay-500',
          ]" />

        <div
          :class="[
            'relative w-full h-full p-[46px]',
            'text-white',
            'transition-colors duration-700 ease-out-expo delay-700',
          ]">
          <button
            @click="() => (activeRoute = RoutePath.Home)"
            class="flex gap-[5px] items-center">
            <ArrowBack
              width="20"
              height="20" />
            <span class="text-xl font-medium font-display">Back</span>
          </button>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="w-full h-full">
        <div
          class="absolute group"
          :style="contentStyle"
          @mouseenter="mainHover = true"
          @mouseleave="mainHover = false">
          <Home v-if="activeRoute === RoutePath.Home" />
          <Window
            v-else
            v-model="activeRoute"
            direction="vertical"
            class="h-full">
            <WindowItem :value="RoutePath.Home">
              <Home />
            </WindowItem>
            <WindowItem :value="RoutePath.About">
              <About />
            </WindowItem>
            <WindowItem :value="RoutePath.Product">
              <Product />
            </WindowItem>
            <WindowItem :value="RoutePath.Contact">
              <Contact />
            </WindowItem>
          </Window>

          <!-- TITLE -->
          <div
            :class="[
              'pointer-events-none',
              'absolute top-0 left-0',
              'm-[-131px_0px_0px_-119px]',
              'transition-all duration-700 ease-in-expo',
              'origin-top-left',
              'group-hover:scale-105',

              ...(activeRoute === RoutePath.Home
                ? ['']
                : ['-translate-y-full']),
            ]">
            <span class="text-[175px] font-bold text-primary font-display">
              We Create
            </span>
          </div>

          <!-- ACTION -->
          <button
            :class="[
              'absolute bottom-0 left-0 cursor-pointer',
              'm-[0px_0px_-50px_-100px]',
              'flex items-center justify-between gap-[78px]',
              'before:absolute before:w-full before:h-full before:rounded-xl before:bg-primary before:pointer-events-none',
              'before:opacity-0 before:-translate-x-full',
              'before:transition-all before:duration-700 before:ease-out-expo',
              'hover:before:opacity-100 hover:before:translate-x-0',
              'text-primary hover:text-white',
              ...(activeRoute === RoutePath.Home ? [''] : ['translate-y-full']),
            ]"
            @click="() => (activeRoute = RoutePath.About)">
            <span
              :class="[
                'inline-flex ml-5',
                'text-[72px] font-bold font-display',
                'transition-all duration-700 ease-out-expo',
                'grayscale opacity-0 -translate-x-full group-hover:opacity-100 group-hover:translate-x-0',
                'group-hover:grayscale-0',
              ]">
              AWESOME THINGS
            </span>

            <span
              :class="[
                'inline-flex mr-5',
                'text-[72px] font-bold font-display',
                'transition-all duration-700 ease-out-expo',
                'grayscale opacity-0 translate-x-full group-hover:opacity-100 group-hover:translate-x-0',
                'group-hover:grayscale-0',
              ]">
              <Arrow />
            </span>
          </button>
        </div>

        <!-- LINE TOP RIGHT -->
        <div
          :class="[
            'absolute top-[50px] right-[50px] flex gap-5 pointer-events-none',
            {
              hidden: activeRoute !== RoutePath.Home,
            },
          ]">
          <DecoratedLine
            width="67px"
            height="18px"
            direction="right"
            :active="!!mainHover" />
          <DecoratedLine
            width="140px"
            height="18px"
            direction="right"
            :active="!!mainHover" />
        </div>

        <!-- LINE BOTTOM LEFT -->
        <div
          :class="[
            'absolute bottom-[50px] left-[50px] flex gap-5',
            {
              hidden: activeRoute !== RoutePath.Home,
            },
          ]">
          <DecoratedLine
            width="140px"
            height="18px"
            direction="left"
            :active="!!mainHover" />

          <DecoratedLine
            width="67px"
            height="18px"
            direction="left"
            :active="!!mainHover" />
        </div>
      </div>

      <div
        :class="[
          {
            hidden: activeRoute === RoutePath.Home,
          },
        ]">
        <!-- NAVIGATION -->
        <div
          :class="[
            'absolute top-1/2 left-0 flex flex-col pl-[46px] w-1/2',
            'transition-opacity duration-700 ease-out-expo',
            ...(activeRoute === RoutePath.Home
              ? ['opacity-0 pointer-events-none']
              : ['']),
          ]">
          <div
            v-for="nav in [
              RoutePath.About,
              RoutePath.Product,
              RoutePath.Contact,
            ]"
            :key="nav"
            :class="['flex gap-[50px] items-center cursor-pointer']"
            @click="activeRoute = nav">
            <div
              :class="[
                'relative w-32 h-[17px]',
                'before:bg-primary',
                'before:absolute before:top-0 before:left-0 before:h-full before:transition-all before:duration-700 before:ease-out-expo',
                activeRoute === nav ? 'before:w-32' : 'before:w-0',
              ]" />
            <span
              :class="[
                'text-[72px] font-bold font-display transition-colors duration-700 ease-out-expo',
                activeRoute === nav
                  ? 'text-primary'
                  : 'text-[#1F1F1F] hover:text-[#1F1F1F]/40',
              ]">
              {{ data[nav].label }}
            </span>
          </div>
        </div>

        <!-- <div class="absolute top-0 right-0 bottom-0 w-1/2">
          <About v-if="activeRoute === RoutePath.About" />
          <Product v-if="activeRoute === RoutePath.Product" />
          <Contact v-if="activeRoute === RoutePath.Contact" />
        </div> -->
      </div>
    </div>
  </div>
</template>
