<script setup lang="ts">
import { ref } from "vue";
import { KWindow, KWindowItem } from "@kurnia1/k-window";
import "@kurnia1/k-window/dist/style.css";

const onboarding = ref("a");
</script>

<template>
  <div class="fixed inset-0 bg-black">
    <div class="container h-full mx-auto flex bg-white">
      <div class="flex flex-col gap-2 w-1/4 items-center justify-center">
        <button
          v-for="item in ['a', 'b', 'c']"
          :key="item"
          @click="onboarding = item"
          class="px-3 py-1 border">
          {{ item }}
        </button>
      </div>
      <div class="flex-1 h-full">
        <KWindow
          v-model="onboarding"
          direction="vertical"
          class="h-full">
          <KWindowItem
            v-for="item in [
              ['a', 'bg-blue-500'],
              ['b', 'bg-green-500'],
              ['c', 'bg-yellow-500'],
            ]"
            :key="item[0]"
            :value="item[0]"
            transition="slide-y-transition"
            reverse-transition="slide-y-reverse-transition"
            :class="['h-full flex items-center justify-center', item[1]]">
            <div class="uppercase text-white text-9xl">{{ item[0] }}</div>
          </KWindowItem>
        </KWindow>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.slide-y {
  overflow: hidden;

  &-transition-enter-active,
  &-transition-leave-active,
  &-reverse-transition-enter-active,
  &-reverse-transition-leave-active {
    transition: 0.7s cubic-bezier(1, -0.2, 0, 1.2);
  }

  &-transition-leave-from,
  &-transition-leave-to,
  &-reverse-transition-leave-from,
  &-reverse-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%;
  }

  &-transition-enter-from {
    transform: translateY(100%);
  }

  &-transition-leave-to,
  &-reverse-transition-enter-from {
    transform: translateY(-100%);
  }

  &-reverse-transition-leave-to {
    transform: translateY(100%);
  }
}
</style>
