<script lang="ts">
import { KWindow } from "@kurnia1/k-window";
import "@kurnia1/k-window/dist/style.css";

export default KWindow;
</script>

<style lang="scss">
.slide-y {
  overflow: hidden;

  &-transition-enter-active,
  &-transition-leave-active,
  &-reverse-transition-enter-active,
  &-reverse-transition-leave-active {
    transition: 0.7s cubic-bezier(1, -0.2, 0, 1.2);
  }

  &-transition-leave-from,
  &-transition-leave-to,
  &-reverse-transition-leave-from,
  &-reverse-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%;
  }

  &-transition-enter-from {
    transform: translateY(100%);
  }

  &-transition-leave-to,
  &-reverse-transition-enter-from {
    transform: translateY(-100%);
  }

  &-reverse-transition-leave-to {
    transform: translateY(100%);
  }
}
</style>
