<script setup lang="ts">
import { onMounted, ref } from "vue";
import Card from "@components/Base/Card.vue";
import DecoratedLine from "@components/Base/DecoratedLine.vue";
import Button from "@components/Base/Button.vue";

const isReady = ref(false);
onMounted(() => {
  setTimeout(() => {
    isReady.value = true;
  }, 700);
});
</script>

<template>
  <div class="relative w-full h-full flex justify-end">
    <div
      :class="[
        'absolute inset-0 z-[-1]',
        'transition-all duration-700 ease-in-expo',
        'bg-[image:--bg-url] bg-center bg-cover',
        isReady ? 'grayscale' : 'grayscale-0',
        'overflow-hidden',
      ]"
      :style="{
        '--bg-url': `url(/images/image2.png)`,
      }" />

    <div
      class="relative flex flex-col gap-10 items-center justify-center w-3/4">
      <div class="relative mx-auto w-[581px]">
        <Transition
          enter-from-class="translate-x-full opacity-0"
          enter-active-class="transition-all duration-700 ease-bounce"
          leave-active-class="transition-all duration-700 ease-bounce"
          leave-to-class="translate-x-full opacity-0">
          <Card v-if="isReady">
            <div class="flex flex-col gap-[43px]">
              <div
                class="text-[64px] font-bold font-display text-[#2D2D2D] leading-tight">
                Our People Come First
              </div>

              <div
                class="text-[36px] font-semibold font-display text-[#2D2D2D] leading-tight pr-1">
                We are independently owned, strategic creative agency forever
                curious and ready to transform the way business is done.
              </div>
            </div>
          </Card>
        </Transition>

        <div class="absolute -top-10 -left-10">
          <DecoratedLine
            width="100px"
            height="14px"
            direction="left"
            :active="isReady" />

          <DecoratedLine
            width="100px"
            height="14px"
            direction="left"
            :active="isReady"
            class="rotate-90 origin-bottom-left mt-[-14px]" />
        </div>
      </div>

      <div class="flex w-full justify-end px-[74px]">
        <Transition
          enter-from-class="translate-y-full opacity-0"
          enter-active-class="translate-y-0 transition-all duration-700 ease-bounce"
          leave-active-class="translate-y-0 transition-all duration-700 ease-bounce"
          leave-to-class="translate-y-full opacity-0">
          <div v-if="isReady">
            <Button>Learn more</Button>
          </div>
        </Transition>
      </div>
    </div>
  </div>
</template>
