<script setup lang="ts">
import { onMounted, ref } from "vue";
import Card from "@components/Base/Card.vue";
import DecoratedLine from "@components/Base/DecoratedLine.vue";
import Button from "@components/Base/Button.vue";

const isReady = ref(false);
onMounted(() => {
  setTimeout(() => {
    isReady.value = true;
  }, 300);
});
</script>

<template>
  <div class="relative w-full h-full flex justify-end">
    <div
      :class="[
        'absolute inset-0 z-[-1]',
        'transition-all duration-700 ease-in-expo',
        'bg-[image:--bg-url] bg-center bg-cover',
        isReady ? 'grayscale' : 'grayscale-0',
        'overflow-hidden',
      ]"
      :style="{
        '--bg-url': `url(/images/image4.png)`,
      }" />

    <div
      class="relative flex flex-col gap-10 items-center justify-center w-3/4">
      <div class="relative mx-auto w-[581px]">
        <Transition
          enter-from-class="scale-75 opacity-0"
          enter-active-class="transition-all duration-700 ease-bounce"
          leave-active-class="transition-all duration-700 ease-bounce"
          leave-to-class="scale-75 opacity-0">
          <Card v-if="isReady">
            <div class="flex flex-col gap-[30px]">
              <div
                class="text-[40px] font-bold font-display text-[#2D2D2D] leading-tight">
                Type your
                <br />
                beautiful name
              </div>

              <div
                class="w-full h-[74px] rounded-[15px] bg-[#D9D9D9] flex items-center justify-center">
                <span
                  class="text-[24px] font-bold font-display text-[#2D2D2D]/50 leading-tight">
                  in here of course :)
                </span>
              </div>

              <div
                class="text-[40px] font-bold font-display text-[#2D2D2D] leading-tight">
                Protect your email
                <br />
                address
              </div>

              <div
                class="w-full h-[74px] rounded-[15px] bg-[#D9D9D9] flex items-center justify-center">
                <span
                  class="text-[24px] font-bold font-display text-[#2D2D2D]/50 leading-tight">
                  but not in here :)
                </span>
              </div>

              <Button>Submit</Button>
            </div>
          </Card>
        </Transition>

        <div class="absolute -top-10 -left-10">
          <DecoratedLine
            width="100px"
            height="14px"
            direction="left"
            :active="isReady" />

          <DecoratedLine
            width="100px"
            height="14px"
            direction="left"
            :active="isReady"
            class="rotate-90 origin-bottom-left mt-[-14px]" />
        </div>

        <div class="absolute -bottom-10 -right-10 rotate-180">
          <DecoratedLine
            width="100px"
            height="14px"
            direction="left"
            :active="isReady" />

          <DecoratedLine
            width="100px"
            height="14px"
            direction="left"
            :active="isReady"
            class="rotate-90 origin-bottom-left mt-[-14px]" />
        </div>
      </div>
    </div>
  </div>
</template>
