<script setup lang="ts">
import { onMounted, ref } from "vue";

const isReady = ref(false);
onMounted(() => {
  setTimeout(() => {
    isReady.value = true;
  }, 300);
});
</script>

<template>
  <div class="relative w-full h-full">
    <div
      :class="[
        'peer',
        'absolute top-0 left-0 w-full h-full',
        'transition-all duration-700 ease-in-expo',
        'grayscale group-hover:grayscale-0',
        'overflow-hidden',
      ]">
      <div
        :class="[
          'w-full h-full',
          'bg-[image:--bg-url] bg-center bg-cover',
          'transition-all duration-700 ease-in-expo',
          'group-hover:scale-105',
        ]"
        :style="{
          '--bg-url': `url(/images/image1.png)`,
        }" />
    </div>
  </div>
</template>
