<script setup lang="ts">
import { onMounted, ref } from "vue";
import Card from "@components/Base/Card.vue";
import Play from "@components/Icon/Play.vue";
import Slides from "@components/Slides.vue";
import Slide from "@components/Slide";
import Problem from "@components/Icon/Problem.vue";

const isReady = ref(false);
onMounted(() => {
  setTimeout(() => {
    isReady.value = true;
  }, 300);
});

const activeSection = ref("KNOW");
</script>

<template>
  <div class="relative w-full h-full flex justify-end">
    <div
      :class="[
        'absolute inset-0 z-[-1]',
        'transition-all duration-700 ease-in-expo',
        'bg-[image:--bg-url] bg-center bg-cover',
        isReady ? 'grayscale' : 'grayscale-0',
        'overflow-hidden',
      ]"
      :style="{
        '--bg-url': `url(/images/image3.png)`,
      }" />

    <div
      class="relative flex flex-col gap-10 items-center justify-center w-3/4">
      <div class="relative mx-auto w-[581px]">
        <Transition
          enter-from-class="-translate-x-full opacity-0"
          enter-active-class="transition-all duration-700 ease-bounce"
          leave-active-class="transition-all duration-700 ease-bounce"
          leave-to-class="-translate-x-full opacity-0">
          <div
            v-if="isReady"
            class="relative flex gap-10">
            <Slides
              v-model="activeSection"
              direction="horizontal"
              class="w-full">
              <Slide value="KNOW">
                <Card class="mx-4">
                  <div class="flex flex-col gap-[51px]">
                    <div
                      class="text-[64px] font-bold font-display text-[#2D2D2D] leading-tight">
                      We Know
                      <br />
                      You Have
                    </div>

                    <div class="h-[72px] flex items-center">
                      <Problem />
                    </div>

                    <!-- <div
                      class="text-[72px] font-bold font-display text-white leading-tight">
                      PROBLEM
                    </div> -->
                  </div>
                </Card>
              </Slide>

              <Slide value="SOLVE">
                <Card class="mx-4">
                  <div class="flex flex-col gap-[51px]">
                    <div
                      class="text-[64px] font-bold font-display text-[#2D2D2D] leading-tight">
                      We Solve
                      <br />
                      Your
                    </div>

                    <!-- <div
                      class="text-[72px] font-bold font-display text-white leading-tight">
                      PROBLEM
                    </div> -->
                    <div class="h-[72px] flex items-center">
                      <Problem />
                    </div>
                  </div>
                </Card>
              </Slide>
            </Slides>
          </div>
        </Transition>
      </div>

      <Transition
        enter-from-class="scale-75 opacity-0"
        enter-active-class="transition-all duration-700 ease-bounce"
        leave-active-class="transition-all duration-700 ease-bounce"
        leave-to-class="scale-75 opacity-0">
        <div
          v-if="isReady"
          class="absolute right-[24px] top-1/2 -translate-y-1/2">
          <button
            :class="[
              'w-[108px] h-[108px] rounded-full cursor-pointer select-none overflow-hidden',
              'transition-colors duration-700 ease-out-expo',
              'bg-primary text-white',
              'hover:bg-white/75 hover:text-primary',
            ]"
            @click="
              () =>
                (activeSection = activeSection === 'KNOW' ? 'SOLVE' : 'KNOW')
            ">
            <Play />
          </button>
        </div>
      </Transition>
    </div>
  </div>
</template>
