<script lang="ts">
import {
  PropType,
  computed,
  defineComponent,
  h,
  provide,
  ref,
  shallowRef,
  watch,
} from "vue";
import { WindowGroupSymbol, WindowSymbol } from "../composables/useWindow";
import { useGroup } from "../composables/useGroup";
import { propsFactory } from "../utils";
import { makeComponentProps } from "../composables/makeComponentProps";
import { makeTagProps } from "../composables/makeTagProps";

export const makeWindowProps = propsFactory(
  {
    continuous: Boolean,
    // nextIcon: {
    //   type: [Boolean, String, Function, Object] as PropType<IconValue>,
    //   default: "$next",
    // },
    // prevIcon: {
    //   type: [Boolean, String, Function, Object] as PropType<IconValue>,
    //   default: "$prev",
    // },
    reverse: Boolean,
    showArrows: {
      type: [Boolean, String],
      validator: (v: any) => typeof v === "boolean" || v === "hover",
    },
    touch: {
      // type: [Object, Boolean] as PropType<boolean | TouchHandlers>,
      type: [Object, Boolean] as PropType<boolean>,
      default: undefined,
    },
    direction: {
      type: String as PropType<"horizontal" | "vertical">,
      default: "horizontal",
    },

    modelValue: null,
    disabled: Boolean,
    selectedClass: {
      type: String,
      default: "k-window-item--active",
    },
    // TODO: mandatory should probably not be exposed but do this for now
    mandatory: {
      type: [Boolean, String] as PropType<boolean | "force">,
      default: "force" as const,
    },

    ...makeComponentProps(),
    ...makeTagProps(),
    // ...makeThemeProps(),
  },
  "Window"
);

export default defineComponent({
  props: makeWindowProps(),
  emits: {
    "update:modelValue": (_v: any) => true,
  },
  setup(props, { slots }) {
    const group = useGroup(props, WindowGroupSymbol);

    const rootRef = ref<HTMLElement | undefined>();

    const isReversed = shallowRef(false);
    const transition = computed(() => {
      const axis = props.direction === "vertical" ? "y" : "x";
      const direction = isReversed.value ? "-reverse" : "";

      return `k-window-${axis}${direction}-transition`;
    });

    const transitionCount = shallowRef(0);
    const transitionHeight = ref<undefined | string>(undefined);

    const activeIndex = computed(() => {
      return group.items.value.findIndex((item) =>
        group.selected.value.includes(item.id)
      );
    });

    watch(activeIndex, (newVal, oldVal) => {
      const itemsLength = group.items.value.length;
      const lastIndex = itemsLength - 1;

      if (itemsLength <= 2) {
        isReversed.value = newVal < oldVal;
      } else if (newVal === lastIndex && oldVal === 0) {
        isReversed.value = true;
      } else if (newVal === 0 && oldVal === lastIndex) {
        isReversed.value = false;
      } else {
        isReversed.value = newVal < oldVal;
      }
    });

    provide(WindowSymbol, {
      transition,
      isReversed,
      transitionCount,
      transitionHeight,
      rootRef,
    });

    return () =>
      h(
        props.tag,
        {
          ref: rootRef,
          class: ["k-window", props.class],
          style: props.style,
        },
        [
          h(
            "div",
            {
              class: ["k-window__container"],
              style: {
                height: transitionHeight.value,
              },
            },
            slots.default?.({ group })
          ),
          slots.additional?.({ group }),
        ]
      );
  },
});
</script>

<style lang="scss">
.k-window {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    &__controls {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      pointer-events: none;

      * {
        pointer-events: auto;
      }
    }
  }

  &--show-arrows-on-hover {
    overflow: hidden;

    & .k-window__left,
    & .k-window__right {
      transform: translate(-200%);
    }

    &:hover .k-window__left,
    &:hover .k-window__right {
      transform: translate(0);
    }
  }

  &-x-transition-enter-active,
  &-x-transition-leave-active,
  &-x-reverse-transition-enter-active,
  &-x-reverse-transition-leave-active,
  &-y-transition-enter-active,
  &-y-transition-leave-active,
  &-y-reverse-transition-enter-active,
  &-y-reverse-transition-leave-active {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &-x-transition-leave-from,
  &-x-transition-leave-to,
  &-x-reverse-transition-leave-from,
  &-x-reverse-transition-leave-to,
  &-y-transition-leave-from,
  &-y-transition-leave-to,
  &-y-reverse-transition-leave-from,
  &-y-reverse-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%;
  }

  &-x-transition-enter-from {
    transform: translate(100%);
  }

  &-x-transition-leave-to,
  &-x-reverse-transition-enter-from {
    transform: translate(-100%);
  }

  &-x-reverse-transition-leave-to {
    transform: translate(100%);
  }

  &-y-transition-enter-from {
    transform: translateY(100%);
  }

  &-y-transition-leave-to,
  &-y-reverse-transition-enter-from {
    transform: translateY(-100%);
  }

  &-y-reverse-transition-leave-to {
    transform: translateY(100%);
  }
}
</style>
