<template>
  <button
    class="w-full h-[74px] px-10 rounded-[15px] bg-primary flex items-center justify-center">
    <span class="text-[24px] font-bold font-display text-white leading-tight">
      <slot />
    </span>
  </button>
</template>
