<script setup lang="ts">
const {
  active = false,
  width = "67px",
  height = "18px",
  direction = "left",
} = defineProps<{
  active?: boolean;
  width?: string;
  height?: string;
  direction?: "left" | "right";
}>();
</script>
<template>
  <div
    :class="[
      'flex',
      { left: 'justify-start', right: 'justify-end' }[direction || 'left'],
      'items-center',
    ]"
    :style="{
      width,
      height,
    }">
    <div
      :class="[
        'bg-primary h-full',
        'transition-all duration-700 ease-in-expo',
        !!active ? 'w-full' : 'w-0',
      ]" />
  </div>
</template>
