<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="151"
    height="74"
    viewBox="0 0 151 74"
    fill="none">
    <path
      d="M149.536 40.5355C151.488 38.5829 151.488 35.4171 149.536 33.4645L117.716 1.64465C115.763 -0.307971 112.597 -0.30797 110.645 1.64465C108.692 3.59727 108.692 6.7631 110.645 8.71572L138.929 37L110.645 65.2843C108.692 67.2369 108.692 70.4027 110.645 72.3553C112.597 74.308 115.763 74.308 117.716 72.3553L149.536 40.5355ZM4.37114e-07 42L146 42L146 32L-4.37114e-07 32L4.37114e-07 42Z"
      fill="currentColor" />
  </svg>
</template>
