<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="108"
    height="108"
    viewBox="0 0 108 108"
    fill="none">
    <path
      d="M76 52.7679C77.3333 53.5378 77.3333 55.4622 76 56.232L45.25 73.9856C43.9167 74.7554 42.25 73.7931 42.25 72.2535L42.25 36.7465C42.25 35.2069 43.9167 34.2446 45.25 35.0144L76 52.7679Z"
      fill="currentColor" />
  </svg>
</template>
