<script setup lang="ts">
const newId = Date.now().toString();
</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="371"
    height="53"
    viewBox="0 0 371 53"
    fill="none">
    <mask :id="newId">
      <path
        d="M22.7916 1.59996C27.2556 1.59996 31.1196 2.34396 34.3836 3.83196C37.6956 5.31996 40.2396 7.43196 42.0156 10.168C43.7916 12.904 44.6796 16.144 44.6796 19.888C44.6796 23.584 43.7916 26.824 42.0156 29.608C40.2396 32.344 37.6956 34.456 34.3836 35.944C31.1196 37.384 27.2556 38.104 22.7916 38.104H12.6396V52H0.975586V1.59996H22.7916ZM22.1436 28.6C25.6476 28.6 28.3116 27.856 30.1356 26.368C31.9596 24.832 32.8716 22.672 32.8716 19.888C32.8716 17.056 31.9596 14.896 30.1356 13.408C28.3116 11.872 25.6476 11.104 22.1436 11.104H12.6396V28.6H22.1436Z"
        fill="white" />
      <path
        d="M85.1188 52L75.3988 37.96H64.6708V52H53.0068V1.59996H74.8228C79.2868 1.59996 83.1508 2.34396 86.4148 3.83196C89.7268 5.31996 92.2708 7.43196 94.0468 10.168C95.8228 12.904 96.7108 16.144 96.7108 19.888C96.7108 23.632 95.7988 26.872 93.9748 29.608C92.1988 32.296 89.6548 34.36 86.3428 35.8L97.6468 52H85.1188ZM84.9028 19.888C84.9028 17.056 83.9908 14.896 82.1668 13.408C80.3428 11.872 77.6788 11.104 74.1748 11.104H64.6708V28.672H74.1748C77.6788 28.672 80.3428 27.904 82.1668 26.368C83.9908 24.832 84.9028 22.672 84.9028 19.888Z"
        fill="white" />
      <path
        d="M130.36 52.864C125.128 52.864 120.4 51.736 116.176 49.48C112 47.224 108.712 44.128 106.312 40.192C103.96 36.208 102.784 31.744 102.784 26.8C102.784 21.856 103.96 17.416 106.312 13.48C108.712 9.49596 112 6.37596 116.176 4.11996C120.4 1.86396 125.128 0.735962 130.36 0.735962C135.592 0.735962 140.296 1.86396 144.472 4.11996C148.648 6.37596 151.936 9.49596 154.336 13.48C156.736 17.416 157.936 21.856 157.936 26.8C157.936 31.744 156.736 36.208 154.336 40.192C151.936 44.128 148.648 47.224 144.472 49.48C140.296 51.736 135.592 52.864 130.36 52.864ZM130.36 42.928C133.336 42.928 136.024 42.256 138.424 40.912C140.824 39.52 142.696 37.6 144.04 35.152C145.432 32.704 146.128 29.92 146.128 26.8C146.128 23.68 145.432 20.896 144.04 18.448C142.696 16 140.824 14.104 138.424 12.76C136.024 11.368 133.336 10.672 130.36 10.672C127.384 10.672 124.696 11.368 122.296 12.76C119.896 14.104 118 16 116.608 18.448C115.264 20.896 114.592 23.68 114.592 26.8C114.592 29.92 115.264 32.704 116.608 35.152C118 37.6 119.896 39.52 122.296 40.912C124.696 42.256 127.384 42.928 130.36 42.928Z"
        fill="white" />
      <path
        d="M203.71 25.792C206.59 26.704 208.846 28.24 210.478 30.4C212.11 32.512 212.926 35.128 212.926 38.248C212.926 42.664 211.198 46.072 207.742 48.472C204.334 50.824 199.342 52 192.766 52H166.702V1.59996H191.326C197.47 1.59996 202.174 2.77596 205.438 5.12796C208.75 7.47996 210.406 10.672 210.406 14.704C210.406 17.152 209.806 19.336 208.606 21.256C207.454 23.176 205.822 24.688 203.71 25.792ZM178.294 10.384V22.264H189.886C192.766 22.264 194.95 21.76 196.438 20.752C197.926 19.744 198.67 18.256 198.67 16.288C198.67 14.32 197.926 12.856 196.438 11.896C194.95 10.888 192.766 10.384 189.886 10.384H178.294ZM191.902 43.216C194.974 43.216 197.278 42.712 198.814 41.704C200.398 40.696 201.19 39.136 201.19 37.024C201.19 32.848 198.094 30.76 191.902 30.76H178.294V43.216H191.902Z"
        fill="white" />
      <path
        d="M221.757 1.59996H233.421V42.496H258.693V52H221.757V1.59996Z"
        fill="white" />
      <path
        d="M304.234 42.64V52H265.21V1.59996H303.298V10.96H276.802V21.904H300.202V30.976H276.802V42.64H304.234Z"
        fill="white" />
      <path
        d="M359.379 52L359.307 21.76L344.475 46.672H339.219L324.459 22.408V52H313.515V1.59996H323.163L342.027 32.92L360.603 1.59996H370.179L370.323 52H359.379Z"
        fill="white" />
    </mask>
    <rect
      x="0"
      y="0"
      width="371"
      height="53"
      fill="#FFB800"
      :mask="`url(#${newId})`" />
    <rect
      x="0"
      y="0"
      width="371"
      height="53"
      fill="white"
      :mask="`url(#${newId})`"
      class="animate-fill duration-75 ease-bounce" />
  </svg>
</template>
